# Created by .ignore support plugin (hsz.mobi)

# Project exclude paths
/target/
.idea/
.idea/.gitignore
.idea/LeetCode.iml
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
LeetCode.iml
src/main/resources/
